.header {}


.header h1 {
    position: fixed;
    top: 50px;
    left: 100px;
    z-index: 999;
}

.header h1 a {
    background: url(../images/logo.svg);
    display: block;
    width: 130px;
    height: 65px;
    font-size: 0;
}

.header .gnb {
    display: flex;
    gap: 50px;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0 0 10px #fff;

    position: fixed;
    bottom: 50px;
    right: 100px;
    z-index: 999;

}

.header .gnb li:hover {
    /* 
    background: url(../images/line_yellow.png)no-repeat center center/cover; */
    color: orange;
}

/* header */

.slideBtn {
    position: fixed;
    top: 50%;
    right: 50px;
    transform: translate(0, -50%);
    z-index: 1;
}

.slideBtn li a {
    position: relative;
    display: block;
    width: 50px;
    height: 30px;
    font-size: 0;
}

.slideBtn li a::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 10px;
    height: 10px;
    background: #333;
    border-radius: 50%;
    transition: 0.3s;
}

.slideBtn li.on a::after {
    display: block;
    background: orange;
}

/* slideBtn */

.section {
    background: url(../images/bg04.png)no-repeat fixed center center/cover;
}

/* section */
.sec01 {
    position: relative;
}


.sec01 .sec01_txt_box {
    text-align: center;
    font-size: 32px;
}

/* sec01 */

.section .inner {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.project_img {
    width: 720px;
    height: 400px;
    overflow: hidden;
    border: 10px solid #fff;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
    border: 10px solid #454545;

}

.project_img img {
    transform: translate(0, 0);
    transition: 15s;
}

.project_img:hover img {
    transform: translate(0, calc(-100% + 410px));
}

.project_box {
    font-size: 16px;
    font-family: "Pretendard Variable", Pretendard;

}

.project_box .project_tit {
    font-size: 40px;
    font-weight: 700;
}

.project_box .project_tit em {
    font-size: 15px;
}

.d_list {
    margin: 30px 0;
}

.d_list li {
    border-bottom: 1px solid #ccc;
    padding: 14px 0;
    width: 500px;
}

.d_list strong {
    display: inline-block;
    width: 130px;
    font-weight: 500;
    font-size: 18px;
}

.d_list span {
    display: inline-block;
    font-size: 15px;
}


.p01_color01 {
    color: #151789;
}

.p01_color02 {
    color: #007aff;
}

.p02_color01 {
    color: #000000;
}

.p03_color01 {
    color: #ffa0c5;
}

.p04_color01 {
    color: #0a69cb;
}

.p05_color01 {
    color: #00978b;
}

.p05_color02 {
    color: #025951;
}

.project_btn a {
    display: inline-block;
    background: #454545;
    color: #fdfdfd;
    padding: 8px 24px;
    font-size: 16px;
    font-weight: 500;
}

.project_btn a:hover {
    color: orange;
}

/* project */

.grapic_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Pretendard Variable", Pretendard;
}

.grapic_btn {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    font-size: 16px;
    margin-bottom: 20px;
}

.grapic_btn li {
    border: 2px solid #454545;
    padding: 5px 20px;
    border-radius: 20px;
}

.grapic_btn li:hover {
    border: 2px solid orange;
}

.grapic_btn li.on {
    border: 2px solid orange;
}

.grapic {
    width: 1300px;
    font-size: 16px;
    display: none;
}

.grapic.on {
    display: block;
}

.grapic figure {
    display: flex;
    align-items: center;
}

.grapic figure figcaption {
    padding: 0 20px;
}

.grapic figure figcaption h3 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

.grapic figure strong {
    font-size: 20px;
    font-weight: 500;
    flex: 0 0 100px;
}

.grapic figure span {
    line-height: 1.5;
    word-break: keep-all;
}

.grapic figure img {
    width: 800px;

}

.grapic figure figcaption .grapic_txt>li {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    display: flex;
}

.grapic figure figcaption .grapic_txt li {
    line-height: 1.5;
}

/* Grapic */

.sec09 .sj_img {
    display: block;
    width: 500px;
    height: 500px;
    border: 10px solid orange;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.sec09 .sj_img img {
    width: 100%;
    height: 500px;
    object-fit: cover;

}

.sec09 .sj_txt h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: orange;
}

.sec09 .sj_txt ul ul {
    display: inline-block;
    vertical-align: top;
}

.sec09 .sj_txt>ul>li:last-child strong {
    padding: 10px 0;
}

.sec09 .sj_txt ul li {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    font-family: "Pretendard Variable", Pretendard;
}

.sec09 .sj_txt strong {
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    vertical-align: top;
    width: 150px;
}

.sec09 .sj_txt li ul li {
    border: none;
}